.admin-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .admin-form__container__input {
    width: 85%;
    height: 18px;
    margin-bottom: 15px;
    padding-left: 5px;
  }
  
  .admin-form__container__label {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
  }
}  