/* Цвета */

$admin-btn-color: #38d7f3;
$form-border-color: #000000;
$form-submit-btn-color: #df7e58;
$league-hover-color: #a9e0bc;
$notification-done: #a9e0bc;
$notification-error: #c4593e;
$notification-error-text: #ffffff;
$link-text-color: #000000;