@import '../../styles/variables';

.admin-form {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 1px solid $form-border-color;
  border-radius: 10px;

  .admin-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .admin-form__container__label {
      margin: 0px 0px 5px 0px;
      font-weight: bold;
    }

    .admin-form__container__input_select {
      width: 50%;
      height: 22px;
      margin-bottom: 15px;
    }

    .admin-form__container__input_textarea {
      height: 72px;
    }
  }
}