<div class="admin-form">
  <form *ngIf="formType === 'league'; then leagueTemplate"></form>
  <form *ngIf="formType === 'club'; then clubTemplate"></form>
</div>

<ng-template #leagueTemplate>
  <form class="admin-form__container" [formGroup]="adminForm" (ngSubmit)="sendForm($event)">
    <info-input type="leagueName" formControlName="leagueName" required minlength="4"></info-input>
    <file-input (selectFile)="fileUpload($event)"></file-input>
    <submit-btn [isDisabled]=!adminForm.valid></submit-btn>
  </form>
</ng-template>

<ng-template #clubTemplate>
  <form class="admin-form__container" [formGroup]="adminForm" (ngSubmit)="sendForm($event)">
    <label for="leagueId" class="admin-form__container__label">Выберите чемпионат:</label>
    <select
      class="admin-form__container__input admin-form__container__input_select"
      id="leagueId"
      formControlName="leagueId"
      required minlength="1"
    >
      <option *ngFor="let league of leagues$|async" value={{league.id}}>{{league.leagueName}}</option>
    </select>
    <info-input type="clubName" formControlName="clubName" required minlength="2"></info-input>
    <file-input (selectFile)="fileUpload($event)"></file-input>
    <info-input type="f_year" formControlName="number" required minlength="4"></info-input>
    <info-input type="city" formControlName="city" required minlength="2"></info-input>
    <info-input type="stadium" formControlName="stadium" required minlength="2"></info-input>
    <label for="history" class="admin-form__container__label">Краткая история клуба:</label>
    <textarea 
      id="history" 
      formControlName="history"
      class="admin-form__container__input admin-form__container__input_textarea" 
    >  
    </textarea>
    <submit-btn [isDisabled]=!adminForm.valid></submit-btn>
  </form>
</ng-template>

<ng-template #nullTemplate>
  <p>Выберите действие</p>
</ng-template>