<div class="admin-form">
  <form *ngIf="formType === 'league'; then leagueTemplate"></form>
</div>

<ng-template #leagueTemplate>
  <form class="admin-form__container" [formGroup]="adminForm" (ngSubmit)="sendForm($event)">
    <label for="name" class="admin-form__container__label">Название чемпионата:</label>
    <input 
      type="text" 
      class="admin-form__container__input" 
      id="name"
      placeholder="Российская Футбольная Премьер-Лига"
      formControlName="leagueName"
      required minlength="4"
    >
    <label for="file" class="admin-form__container__label">Выберите логотип чемпионата (принимаются только логотипы с расширением .png):</label>
    <input 
      type="file" 
      class="admin-form__container__input_file" 
      id="file"
      accept=".png"
      (change)="changeFiles($event)"
      formControlName="image"
      required minlength="1"
    >
    <div *ngIf="selectedFile" >
      <p class="admin-form__container__label">Предпросмотр изображения:</p>
      <img 
        [src]="selectedFile"
        class="admin-form__container__preload-img"
      />
    </div>
    <input 
      type="submit" 
      class="admin-form__container__submit" 
      value="Отправить"
      [disabled]="!adminForm.valid"
    >
  </form>
</ng-template>

<ng-template #nullTemplate>
  <p>Выберите действие</p>
</ng-template>