<div class="admin-form">
  <form *ngIf="formType === 'league'; then leagueTemplate"></form>
  <form *ngIf="formType === 'club'; then clubTemplate"></form>
</div>

<ng-template #leagueTemplate>
  <form class="admin-form__container" [formGroup]="adminForm" (ngSubmit)="sendForm($event)">
    <label for="leagueName" class="admin-form__container__label">Название чемпионата:</label>
    <input 
      type="text" 
      class="admin-form__container__input" 
      id="leagueName"
      placeholder="Российская Футбольная Премьер-Лига"
      formControlName="leagueName"
      required minlength="4"
    >
    <label for="file" class="admin-form__container__label">Выберите логотип чемпионата (принимаются только логотипы с расширением .png):</label>
    <input 
      type="file" 
      class="admin-form__container__input_file" 
      id="file"
      accept=".png"
      (change)="changeFiles($event)"
      formControlName="image"
      required minlength="1"
    >
    <div *ngIf="selectedFile" >
      <p class="admin-form__container__label">Предпросмотр изображения:</p>
      <img 
        [src]="selectedFile"
        class="admin-form__container__preload-img"
      />
    </div>
    <input 
      type="submit" 
      class="admin-form__container__submit" 
      value="Отправить"
      [disabled]="!adminForm.valid"
    >
  </form>
</ng-template>

<ng-template #clubTemplate>
  <form class="admin-form__container" [formGroup]="adminForm" (ngSubmit)="sendForm($event)">
    <label for="leagueName" class="admin-form__container__label">Выберите чемпионат:</label>
    <select
      class="admin-form__container__input admin-form__container__input_select"
      id="leagueName"
      formControlName="leagueName"
      required minlength="1"
    ></select>
    <label for="clubName" class="admin-form__container__label">Название клуба:</label>
    <input 
      type="text" 
      class="admin-form__container__input" 
      id="clubName"
      placeholder="Локомотив Москва"
      formControlName="clubName"
      required minlength="2"
    >
    <label for="file" class="admin-form__container__label">Выберите логотип клуба (принимаются только логотипы с расширением .png):</label>
    <input 
      type="file" 
      class="admin-form__container__input_file" 
      id="file"
      accept=".png"
      (change)="changeFiles($event)"
      formControlName="image"
      required minlength="1"
    >
    <div *ngIf="selectedFile" >
      <p class="admin-form__container__label">Предпросмотр изображения:</p>
      <img 
        [src]="selectedFile"
        class="admin-form__container__preload-img"
      />
    </div>
    <label for="number" class="admin-form__container__label">Год основания клуба:</label>
    <input 
      type="number" 
      class="admin-form__container__input" 
      id="number"
      placeholder="1950"
      formControlName="number"
      required minlength="4"
      min="1850"
      max="2022"
    >
    <label for="city" class="admin-form__container__label">Город, в котором базируется команда:</label>
    <input 
      type="text" 
      class="admin-form__container__input" 
      id="city"
      placeholder="Москва"
      formControlName="city"
      required minlength="2"
    >
    <label for="stadium" class="admin-form__container__label">Название стадиона:</label>
    <input 
      type="text" 
      class="admin-form__container__input" 
      id="stadium"
      placeholder="РЖД Арена"
      formControlName="stadium"
      required minlength="2"
    >
    <label for="history" class="admin-form__container__label">Краткая история клуба:</label>
    <textarea 
      id="history" 
      formControlName="history"
      class="admin-form__container__input admin-form__container__input_textarea" 
    >  
    </textarea>
    <input 
      type="submit" 
      class="admin-form__container__submit" 
      value="Отправить"
      [disabled]="!adminForm.valid"
    >
  </form>
</ng-template>

<ng-template #nullTemplate>
  <p>Выберите действие</p>
</ng-template>