<h2 class="admin-header">Панель Администратроа</h2>
<div class="admin-container">
    <button class="admin-container__btn" (click)="changeForm('league')">Добавить чемпионат</button>
    <button class="admin-container__btn" (click)="changeForm('club')">Добавить команду</button>
    <button class="admin-container__btn" (click)="changeForm('round')">Добавить игровой день</button>
    <button class="admin-container__btn" (click)="changeForm('match')">Добавить матч</button>
    <button class="admin-container__btn" (click)="changeForm('event')">Добавить событие</button>
    <button class="admin-container__btn" (click)="changeForm('player')">Добавить игрока</button>
</div>
<admin-form [formType]="formType"></admin-form>
